 @import url("https://fonts.googleapis.com/css2?family=Ysabeau:wght@100&display=swap");


.container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-height: 100vh;
  width: 100vw;
  height: 100%;
  margin-top: 8vh;
  padding: 30px;
  font-family: "Ysabeau", sans-serif;
  background-color: white;
  font-size: 1.6rem;
  overflow-x: hidden;
}

.nav_bar {
  min-width: 10%;
  border-right: 1px solid gray;
  height: 100%;
  position: sticky;
  top: 30px;
}

.outlet {
  max-width: 90%;
}

.nav_bar h1 {
  font-size: 3rem;
  font-weight: bolder;
}

.nav_bar ul {
  list-style-type: none;
  margin-left: 10px;
  margin-top: 7px;
}

.nav_bar li {
  margin-bottom: 7px;
}

.nav_bar a {
  appearance: none;
  text-decoration: none;
}

.active {
  font-weight: 700;
  text-decoration: underline !important;
}
