
.wrapper{
    height: 20px;
    display: flex;
    align-items: flex-end;
    line-height: 10px;
    cursor: pointer;

}
.link-title{
    color: var(--color-grey-500);
    font-family: var(--font-nav);
    font-size: 1.8rem;
    &:hover{
        text-decoration: underline;
        color: black;
    }
}